/* Color Palettes: 
https://coolors.co/1fa0db-4fcde0-dff2f5-015982-09212b
#DFF2F5 - Azure Web X 11 Color
#4FCDE0 - Sky Blue Crayola
#1FA0DB - Carolina Blue
#015982 - Blue Sapphire 
#09212B - Rich Black FOGRA 29
*/

/* Project Palettes:
https://coolors.co/a4303f-870058-d4df93-6b654b-f9b5ac-82a6b1-ff923f-004643
#A4303F - Vivid Burgundy
#870058 - Pansy Purple
#D4DF9E - Yellow Green Crayola
#6B654B - Gold Fusion
#F9B5AC - Melon
#82A6B1 - Pewter Blue
#FF934F - Atomic Tangerine
#004643 - Warm Black
*/


/* General Formatting (3797d6) */
body {
    background-color: #1FA0DB;
}

h1 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-style: normal;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-style: normal;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: normal;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

h4 {
    font-family: 'Lora';
    font-weight: bold;
    font-style: normal;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

h5 {
    font-family: 'Lora';
    font-weight: 300;
    font-style: normal;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    font-family: 'Lora';
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

ol {
    font-family: 'Lora';
    font-weight: 300;
    color: white;
    font-size: 14px;
    padding-left: 45px;
    padding-right: 80px;
    max-width: 750px;
}

ul {
    font-family: 'Lora';
    font-weight: 300;
    color: white;
    font-size: 14px;
    padding-left: 95px;
    padding-right: 80px;
    max-width: 750px;
}

th, td {
    padding: 15px;
    font-family: 'Ubuntu';
    font-weight: bold;
    color: white;
    text-align: center;
  }

/* Resources Page */
a#link {
    background: linear-gradient(to right, #1FA0DB, #1FA0DB 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 210% 100%;
    background-position: 100%;  
    transition: background-position 275ms ease;
}

a#link:hover {
    background-position: 0 100%;
  }

/* Fade on Hover */
.fade#image {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.fade#image:hover {
    opacity: 0.75;
    }

/* Hide on Desktop/Mobile */
@media only screen and (orientation:landscape) and (min-width: 1080px) {
    .mobile {
        display: none;
    }
}

@media only screen and (orientation:landscape) and (max-width: 1080px) {
    .desktop {
        display: none;
    }
}

@media only screen and (orientation:portrait) {
    .desktop {
        display: none;
    }
}

/* Navigation Bar Specifications */
.navbar a{
    font-family: Ubuntu !important;
    font-size: 20px;
    color:white !important;
}

a#navbar:not(.active-link):hover { 
    border-bottom: 3px solid#DFF2F5 !important; 
    transition: 0.25s ;}

.active-item {
    border-bottom: 3px solid white;
  }

/* Background Colors */
.bg-1 { background-color: #DFF2F5; }
.bg-2 { background-color: #4FCDE0; }
.bg-3 { background-color: #1FA0DB; }
.bg-4 { background-color: #015982; }
.bg-5 { background-color: #09212B; }
.bg-black { background-color: black; }
  
/* Gallery Fade Effects */
.galleryImagedark {
    opacity: 1;
    transition: 0.5s;
  }
.galleryImagedark:hover { opacity: 0.75; }

.galleryImagelight {
    opacity: 1;
    transition: 0.5s;
  }

.galleryImagelight:hover { opacity: 0; }

.carousel-caption {
    top: auto;
    bottom: -10px;
}

/* Button Classes */
.bt-outline-3 {
    color:#1FA0DB; 
    border-color:#1FA0DB;}

.bt-outline-3:hover {
    color:#1FA0DB; 
    border-color:#1FA0DB;
    background-color:#DFF2F5;}
 

/* Responsive Font Sizes
   xs (<576px), sm (>=576px), md (>=768px), and lg (>=992px), xl (>=1200px) */

.nav-item{ padding-left: 10px; 
           padding-right: 10px; }
.research-grid {max-width:1200px; }
.identifier {color:black}
#bioLine { font-size: 4vw; }
#missionTitle { font-size: 50px; }
#missionStatement { font-size: 36px; }
#bioDescription { font-size: 1.5vw; }
#researchTitle { 
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 15px; }
#noteGroup { font-size: 32px; }
#noteTitle { font-size: 28px; }
#noteDoc { font-size: 18px; }
#contactdiv { width: 550px; }
#contactcenter { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px; }
#contact1 { font-size: 36px; }
#contact2 { font-size: 28px; }
#contact3 { font-size: 28px; }
#hobbyTitle { font-size: 40px; 
              color: #015982; }
#hobbyDescription { font-size: 20px; 
                    color: #015982; }
#hobbyPanels { max-width: 800px; }
#hobbyMore {color: #015982;
            font-size: 28px; }

@media (max-width: 1200px) {
    .on-md { display: show !important; }
    .off-md { display: none !important; }
    .identifier { color:red}
    #bioLine { font-size: 4vw; }
    #missionTitle { font-size: 50px; }
    #missionStatement { font-size: 30px; }
    #bioDescription { font-size: 2vw; }
    #researchTitle { font-size: 1.1vw; }
    #noteGroup { font-size: 26px; }
    #noteTitle { font-size: 22px; }
    #noteDoc { font-size: 14px; }
}

@media (max-width: 992px) {
    .on-md { display: show !important; }
    .off-md { display: none !important; }
    .identifier { color:orange}
    #bioLine { font-size: 3.5vw; }
    #missionTitle { font-size: 5vw; }
    #missionStatement { font-size: 22px; }
    #bioDescription { font-size: 2.5vw; }
    #researchTitle { font-size: 1.6vw; }
    #noteGroup { font-size: 22px; }
    #noteTitle { font-size: 16px; }
    #noteDoc { font-size: 12px; }
    #contact1 { font-size: 30px; }
    #contact2 { font-size: 20px; }
    #contact3 { font-size: 20px; }
    #contactdiv { width: 450px; }
    #hobbyTitle { font-size: 30px; }
    #hobbyDescription { font-size: 18px; }
    #hobbyMore {font-size: 24px; }
    #hobbyPanels { max-width: 700px; }
}

@media (max-width: 768px) {
    a#navbar:not(.active-link):hover { 
        border-bottom: none !important; 
        color: #4FCDE0 !important; 
        transition: 0.25s ;}
    .active-item {
        border-bottom: none;
        }
    .on-md { display: none !important; }
    .off-md { display: show !important; }
    .research-grid { max-width:500px; }
    .identifier { color:yellow}
    #bioLine { font-size: 6vw; }
    #missionTitle { font-size: 5vw; }
    #missionStatement { font-size: 3.25vw; }
    #bioDescription { font-size: 3vw; }
    #researchTitle { font-size: 12px; }
    #noteGroup { font-size: 30px; }
    #noteTitle { font-size: 25px; }
    #noteDoc { font-size: 18px; }
    #contact1 { font-size: 26px; }
    #contact2 { font-size: 14px; }
    #contact3 { font-size: 14px; }
    #contactdiv { width: 400px; }
    #hobbyTitle { font-size: 22px; }
    #hobbyDescription { font-size: 14px; }
    #hobbyMore {font-size: 16px; }
    #hobbyPanels { max-width: 500px; }
}

@media (max-width: 576px) {
    .on-md { display: none !important; }
    .off-md { display: show !important; }
    .research-grid { max-width:400px; }
    .identifier { color:green}
    #bioLine { font-size: 5.5vw; }
    #missionTitle { font-size: 8vw; }
    #missionStatement { font-size: 4vw; }
    #bioDescription { font-size: 3.5vw; }
    #researchTitle { font-size: 20px; }
    #noteGroup { font-size: 24px; }
    #noteTitle { font-size: 20px; }
    #noteDoc { font-size: 16px; }
    #contact1 { font-size: 24px; }
    #contact2 { font-size: 12px; }
    #contact3 { font-size: 12px; }
    #contactdiv { width: 350px; }
    #hobbyTitle { font-size: 18px; }
    #hobbyDescription { font-size: 12px; }
    #hobbyMore {font-size: 14px; }
    #hobbyPanels { max-width: 90%; }
}


/* Hobbies Panels/Pages */
.hobbyPanel {
    background-image: url("./Images/PanelBackground.png");
    background-repeat: no-repeat;
    background-size: auto;
}